In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("C:/Users/deept/Downloads/Iris.csv")
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
#dimensionality of the given dataset

In [5]:
df.shape

(150, 5)

In [7]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [8]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [10]:
X=df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]
y=df["Species"]

In [14]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=0)

In [15]:
print(X_train.shape)

(105, 4)

In [16]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)

In [17]:
print(X_train.shape)

(120, 4)

In [18]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [19]:
X_test.shape

(38, 4)

In [21]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=0)

In [29]:
from sklearn.preprocessing import StandardScaler

scalar=StandardScaler()

X_train_transformed=pd.DataFrame(scalar.fit_transform(X_train),columns=X_train.columns,
                              index=X_train.index)

In [30]:
X_train_transformed.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   1.050000e+02  1.050000e+02   1.050000e+02  1.050000e+02
mean   -1.249794e-15 -5.075305e-17  -1.438003e-16 -2.051269e-16
std     1.004796e+00  1.004796e+00   1.004796e+00  1.004796e+00
min    -1.825788e+00 -2.378463e+00  -1.519284e+00 -1.448722e+00
25%    -9.090745e-01 -5.572150e-01  -1.240881e+00 -1.191552e+00
50%    -1.069499e-01 -1.019031e-01   3.181746e-01  9.429550e-02
75%     6.951746e-01  5.810647e-01   7.636190e-01  8.658042e-01
max     2.299424e+00  3.085280e+00   1.710188e+00  1.637313e+00

In [31]:
X_train_transformed.median()

SepalLengthCm   -0.106950
SepalWidthCm    -0.101903
PetalLengthCm    0.318175
PetalWidthCm     0.094296
dtype: float64

In [34]:
X_test_transformed=scalar.transform(X_test)

In [38]:
from sklearn import metrics

In [39]:
# Logistic regression

In [40]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()

classifier.fit(X_train_transformed,y_train)

y_test_predict=classifier.predict(X_test_transformed)

metrics.accuracy_score(y_test,y_test_predict)

C:\Users\ deept\OneDrive\Desktop\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

0.9777777777777777

In [46]:
X=df[["SepalLengthCm","PetalWidthCm"]]
y=df["Species"]

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=0)

from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()

classifier.fit(X_train_transformed,y_train)

y_test_predict=classifier.predict(X_test_transformed)

metrics.accuracy_score(y_test,y_test_predict)

C:\Users\ deept\OneDrive\Desktop\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

0.9777777777777777